* {
    -highlight: #0D293E;
    -crust: #515151;
    -base: #3C3F41;
    -mantle: #323232;
    -core: #2B2B2B;
    -icon: #AFB1B3;
    -font-bright: #FFFFFF;
    -font-base: #BBBBBB;
    -font-muted: #6f6f6f;
}

.auxiliary-pane-header {
    -fx-background-color: -base;
    -fx-alignment: center-left;
}

.auxiliary-pane-title {
    -fx-text-fill: -font-base;
    -fx-font-size: 14;
}

.icon-button {
    -fx-background-color: red;
    -fx-fill: -icon;
}

.icon {
    -fx-fill: -icon;
}

.menu-bar {
    -fx-background-color: -base;
    -fx-border-color: -crust;
    -fx-border-width: 0 0 1 0;
    -fx-pref-height: 25 px;
    -fx-min-height: 25 px;
}

.window-menu {
    -fx-background-color: -base;
    -fx-pref-width: 25 px;
    -fx-min-width: 25 px;
}

.status-bar {
    -fx-background-color: -base;
    -fx-text-fill: -font-base;
}

.root-split-pane {
    -fx-background-color: -base;
}