/* ---------- Jarvis CSS ---------- */

/* ---------- Colors ---------- */
* {
    -methods: #fd9842;
    -highlight: #0D293E;
    -accent: #30c7f5;

    -crust: #515151;
    -base: #3C3F41;
    -mantle: #323232;
    -core: #2B2B2B;

    -scrollbar-thumb: #595B5D;
    -scrollbar-thumb-hovered: #6F7173;

    -icon: #AFB1B3;
    -icon-hovered-background: #4C5052;
    -icon-pressed-background: #5C6164;

    -font-bright: #FFFFFF;
    -font-base: #BBBBBB;
    -font-muted: #6f6f6f;
}

/* ---------- Global Presets ---------- */
* {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12;
}

/* ---------- Split Pane Dividers ---------- */

.split-pane-divider {
    -fx-background-color: -crust;
}

/* ---------- Controls ---------- */

.button {
    -fx-background-color: transparent;
    -fx-text-fill: -font-base;
}

.icon-button {
    -fx-padding: 5;
    -fx-background-radius: 5;
}

.icon {
    -fx-stroke: -icon;
    -fx-fill: transparent;
    -fx-stroke-width: 2;
}

.button:hover {
    -fx-background-color: -icon-hovered-background;
}

.button:pressed {
    -fx-background-color: -icon-pressed-background;
}

.scroll-bar .thumb {
    -fx-background-color: -scrollbar-thumb;
}

.scroll-bar:hover .thumb {
    -fx-background-color: -scrollbar-thumb-hovered;
}

.scroll-bar,
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .track,
.scroll-bar .track-background{
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    visibility: hidden;
}

/* ---------- Primary Layout Split Panes ---------- */

.root-split-pane {
    -fx-padding: 0;
}

.main-split-pane {
    -fx-background-color: -base;
    -fx-border-color: -mantle;
    -fx-border-width: 1;
}

.support-split-pane {
    -fx-background-color: -base;
    -fx-border-color: -mantle;
    -fx-border-width: 1;
}

/* ---------- Object Graph (CENTER) ---------- */

.object-graph-container {
    -fx-padding: 0;
    -fx-border-color: -mantle;
    -fx-border-width: 1;
}

.object-graph {
    -fx-padding: 0;
    -fx-hbar-policy: as-needed;
    -fx-vbar-policy: as-needed;
}

.object-graph > .viewport {
    -fx-background-color: -core;
}

/* ---------- Debug Menu (CENTER BOTTOM) ---------- */

.debug-menu {
    -fx-background-color: -base;
    -fx-pref-height: 25;
    -fx-padding: 1;
    -fx-alignment: center;
}

/* ---------- Menu Bar (TOP) ---------- */

.menu-bar {
    -fx-background-color: -base;
    -fx-border-color: -crust;
    -fx-border-width: 0 0 1 0;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;
}

/* ---------- Window Menus (SIDES) ---------- */

.window-menu {
    -fx-background-color: -base;
    -fx-pref-width: 25px;
}

.window-menu-item {
    -fx-alignment: top-center;
    -fx-padding: 5 0 5 0;
}

.window-menu-item:hover {
    -fx-background-color: -mantle;
}

.window-menu-item.active {
    -fx-background-color: -core;
}

.window-menu-item-title {
    -fx-text-fill: -font-base;
    -fx-label-padding: 0 0 0 5;
}

/* ---------- Auxiliary Pane ---------- */

.auxiliary-container {
    -fx-padding: 0;
}

.auxiliary-pane {
    -fx-background-color: -base;
    -fx-border-color: -mantle;
    -fx-border-width: 1;
}

.auxiliary-pane-header {
    -fx-background-color: -base;
    -fx-alignment: center-left;
    -fx-border-color: -mantle;
    -fx-border-width: 0 0 1 0;
}

.auxiliary-pane-title {
    -fx-text-fill: -font-base;
    -fx-font-weight: bold;
    -fx-label-padding: 0 0 0 10;
}

/* ---------- Call Stack ---------- */

.call-stack {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.call-stack:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -highlight;
}

.list-cell:even, .list-cell:odd {
    -fx-background-color: -base;
}

.list-cell:filled:hover {
    -fx-background-color: -mantle;
}

.call-stack-cell-container {
    -fx-alignment: center-left;
    -fx-spacing: 5;
}

.method-name {
    -fx-text-fill: -methods;
    -fx-font-weight: bold;
}

.class-name {
    -fx-text-fill: -font-muted;
    -fx-font-size: 10;
}

.line-number {
    -fx-text-fill: -accent;
    -fx-font-size: 10;
}

/* ---------- Status Bar (BOTTOM) ---------- */

.status-bar {
    -fx-background-color: -base;
    -fx-text-fill: -font-base;
    -fx-border-color: -mantle;
    -fx-border-width: 1 0 0 0;
    -fx-pref-height: 25;
}